{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>{{title}}</h1>
    <center>
        <table style="width:100%">
            <tr>
                <td style="width:75%">
                    <div id="map" style="width: 90%; height: 600px; background-color: grey;"></div>
                </td>
                <td style="vertical-align:top">
                    <img src="/static/stdr.png" height=150">
                    <h2>Recommended Products</h2>
                    <a href="https://www.santander.co.uk/uk/savings" target="_blank">
                        <img src="/static/piggy-bank.png" height=50">
                    </a>
                    <h3>Regular eSaver</h3>
                    <p>3.00% AER/gross (fixed) for 12 months.</p>
                    <a href="https://www.santander.co.uk/uk/mortgages" target="_blank">
                        <img src="/static/home.png" height=50">
                    </a>
                    <h3>First Time Mortgages</h3>
                    <p>5% deposit mortgages available</p>
                </td>
            </tr>
        <script>
          function initMap() {
            var uluru = {lat: {{ctr_lat}}, lng: {{ctr_lng}}};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 11,
              mapTypeId: 'terrain',
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
            var heatmapData = [
            {% for loc in locs %}{location: new google.maps.LatLng({{loc.lat}}, {{loc.lng}}), weight: {{loc.price}} },{% endfor %}
            ];
            var heatmap = new google.maps.visualization.HeatmapLayer({
              data: heatmapData,
              dissipating: true,
              radius: 20,
              map: map
            });
          }
        </script>
        <script
            async defer
            src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&libraries=visualization&callback=initMap">
        </script>
    </center>
{% endblock %}